<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692745768515-50lv9cl68bidit03qt0f1gk737gs03ru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692745768515-50lv9cl68bidit03qt0f1gk737gs03ru</string>
	<key>API_KEY</key>
	<string>AIzaSyDvs3fthemhVd6g6bG1I1P2y-5Cvx8jcnY</string>
	<key>GCM_SENDER_ID</key>
	<string>692745768515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fullstackInstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-37e3b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-37e3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692745768515:ios:18496d9e46d58def630ef6</string>
</dict>
</plist>