<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30633808607-fi685nj0ohlnjp80vq96elip67j5qds1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30633808607-fi685nj0ohlnjp80vq96elip67j5qds1</string>
	<key>API_KEY</key>
	<string>AIzaSyAYK9Fsym9TLZd0XIVrIE5uigGI6sCEthY</string>
	<key>GCM_SENDER_ID</key>
	<string>30633808607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitchClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>twitch-clone-a27e6</string>
	<key>STORAGE_BUCKET</key>
	<string>twitch-clone-a27e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30633808607:ios:7f5009ebae8087dd9b0f6a</string>
</dict>
</plist>